.popupWindow {
    z-index: 10;    
    position: absolute;
    left: calc(50vw - 200px);
    top: calc(50vh - 300px);
    width: 450px;
    backdrop-filter: blur(10px);
    min-height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.90);
    padding: 0px;
}
.popupWindow input {
    margin-top: 5px;
    padding-left: 5px;
}
.popupWindow button {
    margin-top: 5px;
    
}
.popupWindowHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.5);
    height: 30px;
    margin-bottom: 10px;
    cursor: default;
}
.closeWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    top: 0px;
    height: 30px;
    width: 30px;
    border: 0px;
    background-color: rgba(255, 0, 0, 0.514);
    border-top-right-radius: 20px;
}
.closeWindow:hover {
    background-color: rgba(255, 0, 0, 0.7);
    font-size: 1.1rem;
    transition: 0.5s;
}
h3 {
    margin-left: 50px;
}
.createAccountPopup p {
    margin-left: 10px;
}
.loginPopup p{
    margin-left: 10px;
}
.popupWindowContent {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
}
.popupWindowContent p {
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: underline;
}
.popupWindowContent button {
    border: 1px solid rgb(125, 159, 172);
    background-color: rgb(173, 216, 230);
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
}
.popupWindowContent button:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 10px rgb(82, 177, 209);
}
.popupWindowContent input {
    padding-left: 10px;
}
.createpopupWindow {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.loginWindow {
    display: flex;
    flex-direction: column;
}
.loginWindow p {
    margin-top: 10px;
}
.CreateAccountContent {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}
.popupExtrasBtn {
    border: 1px solid rgb(125, 159, 172);
    background-color: rgb(173, 216, 230);
    margin-left: 10px ;
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
}
.popupExtrasBtn:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 10px rgb(82, 177, 209);
}
#warningText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: red;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0) , rgba(204, 58, 58, 0.3), rgba(255, 0, 0, 0));
    border-radius: 90%;
}