.mainContent {
    display: flex;
    justify-content: center;

}
.mainContent h3 {
    position: absolute;
    display: flex;
    justify-content: center;
}
.productList {
    margin-top: 10vh;
    left: 250px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productCard {
    height: 500px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.productCard p {
    text-align: center;
}
.productCard button {
    align-items: flex-end;
}

img {
    max-width: 150px;
}