.header {
    height: 4rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-right {
    height: inherit;
    
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-right button {
    border: 1px solid rgb(125, 159, 172);
    background-color: rgb(173, 216, 230);
    /* box-shadow: 0px 0px 10px rgb(217, 255, 0); */
    /* On hover på ovan box-shadow */
    margin-left: 10px ;
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
}
.header-right button:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 10px rgb(217, 255, 0);
}
.qty {
    top: -10px;
    right: 10px;
    position: relative;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 0.5rem
}
.qty p {
    position: absolute;
    /* top: -17px; */
    right: 3px;
    
}